.head{
      
    background-color:white;
    border:solid;
     }
  

  
  .grid {
    background: darkred;
    background-color:#E8E5E4;
    display: flex;
    justify-content: space-between;
 
    flex-wrap: wrap;
  }
  
  .camel {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color:white;
  }
  
  
  .chameleon {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color:white;
  }
  
  .cicada {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 400px;
    padding: 50px;
    background-color:white;
  }
  
  .panda {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 400px;
    padding: 50px;
    background-color:white;
  }
  
  .pigeon {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color:white;
  }
  
  .teddy {
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 500px;
    padding: 50px;
    background-color:white;
  }

 